html {
  box-sizing: border-box;
}
*, 
*::before,
*::after {
box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'Quicksand-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
header {
  color: #333333;
}
.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  padding: 0px 15px;
}
.breadcrumbs__inner {
  padding: 55px 0px;
  overflow: hidden;
  width: 1200px;
  color: #fff;
}
.breadcrumbs__list {
  padding-bottom: 15px;
  li {
    display: inline-block;
    position: relative;
    font-size: 15px;
    & + li {
      padding-left: 24px;
      &::before {
        content: '/';
        position: absolute;
        color: #fff;
        left: 8px;
      }
    }
    &:last-child {
      a, span {
        color: #bfcad7;
      }
    }
  }
  a {
    color: #fff;
  }
}