@import '_global';
@import '_vars';
@import '_fonts';
//stert header
.header__top {
  background-color: #eef1f3;
  height: 100px;
  padding: 25px 0px;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-box {
    display: flex;
    
  }
}
.box__btn {
  background-color: $blue;
  margin-right: 217px; 
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  border-radius: 36px;
  padding: 10px 18px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  display: block;
}
.customer {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  font-size: 14px;
  line-height: 26px;
  &__name {
    color: #333333;
  }
  &__money {
    color: $blue;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header__bottom-inner {
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  @include f500;
  li {
    display: inline-block;
    a{
      color: #333333;
      text-transform: uppercase;
    }
    & + li {
      margin-left: 35px;
    }
  }
}
.header__bottom-search {
  form {
    position: relative;
    input {
      display: block;
      width: 360px;
      padding: 15px 85px 15px 15px;
      border: 1px solid #d9dfe5;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
      border-radius: 25px;
      max-width: 360px;
      color: #898f96;
      @include f500;
      outline: $blue;
      &:focus {
        color: $blue;
      }
      &::placeholder {
        color: #898f96;
        @include f500;
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $blue;
      border: none;
      padding: 16px 29px;
      border-radius: 25px;
    }
  }
}
//end header
//start search section
.search__top {
  min-height: 722px;
  padding-top: 182px;
  padding-bottom: 45px;
  background-image: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
  &-text {
    text-align: center;
    color: #fff;
    margin-bottom: 68px;
    p {
      padding-top: 45px;
      @include f500;
      font-size: 20px;
    }
  }
  &-title {
    font-size: 60px;
    line-height: 80px;
    span {
      display: block;
      @include f700;
    }
  }
  &-box {
    text-align: center;
    margin-bottom: 165px;
  }
  &-btn {
    padding: 20px 31px;
    border: 2px solid #fff;
    border-radius: 28px;
    margin-right: 29px; 
    color:#fff;
  }
  &-btn:hover {
    background-color: #fff;
    color: $blue;
  }
  &-form {
    max-width: 1141px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: -97px;
    background-color: #fff;
    padding: 40px;
    z-index: 3;
    position: relative; 
    outline: none;
    input {
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
      max-width: 805px;
      width: 100%;
      color: #676767;
      font-weight: 400;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      padding: 19px 28px;
      padding-right: 210px;
      outline: none;
      
      &::placeholder {
        color: #676767;
        font-weight: 400;
      }
    }
    select {
      background-image: url(../images/icons/select-icon.png);
      background-repeat: no-repeat;
      background-position: 164px 26px;
      padding: 18.3px;
      padding-right: 71px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      appearance: none !important;
      margin-left: -200px;
      margin-right: 25px;
      color: $text;
      line-height: 20px;
    }
    button {
      background-color: $blue;
      padding: 19px 65px;
      border: none;
      border-radius: 4px;
      color: #fff;
    }
  }
  &-form::before {
    content: '';
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 2;
    border-radius: 6px;
    background-color: rgb( 255, 255, 255 );
    opacity: 0.502;
    display: block;
    max-width: 1112px;
    width: 100%;
    height: 18px;
  }
  &-form::after {
    content: '';
    position: absolute;
    top: -25px;
    right: 30px;
    z-index: 1;
    border-radius: 6px;
    background-color: rgb( 255, 255, 255 );
    opacity: 0.502;
    display: block;
    max-width: 1080px;
    width: 100%;
    height: 30px;
  }
}
.search__bottom {
  min-height: 711px;
  &-inner {
    padding: 181px 0px 50px;
    display: flex;
    justify-content: space-between;
  }
}
.features__box {
  max-width: 363px;
  text-align: center;
  padding: 40px 35px 51px;
}
.features__box:hover {
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.07);
}
.features__image {
  margin: 0 auto;
  margin-bottom: 23px;
  width: 113px;
  height: 114px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features__title {
  font-size: 24px;
  margin-bottom: 28px;
  color: #010101;
}
.features__text {
  color: $text;
  line-height: 30px;
  span {
    display: block;
    margin: 0 auto;
    max-width: 249px;
  }
}
//end search section
//start product-slider section
.product__slider {
  background-color: $grey;
  padding: 120px 0px;
  &-title {
    background-color: #fff;
    padding: 42px 30px;
    font-size: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba( 108, 111, 115,0.1 );
  }
}
.product__slider-inner {
  overflow: hidden;
  
}
.product__slider-items {
  position: relative;
  box-shadow: 0px 2px 30px 0px rgba( 147, 155, 168, .25);
}
.product__item {
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 450px;
  position: relative;
  &-img {
    max-width: 100%;
    height: 450px;
    a {
        width: 556px;
      height: 450px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &-text {
    padding: 52px 61px 25px 50px;
  }
}
.product__img-hover {
  position: absolute;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 556px;
  height: 450px;
  top: 0;
  left: 0;
  padding: 200px 130px;
  .product__img-button {
    display: none;
    border: 1px solid #fff;
    border-radius: 22px;
    padding: 13px 32px;
    color: #fff;
    transition: all 0.3s;
    @include f500;
    font-size: 15px; 
  }
    &:hover {
      background-image:linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
      .product__img-button {
        display: inline-block;
        &:hover {
          background-color: #fff;
          color: $blue;
        }
      }
    }
}
.button-1 {
  margin-right: 10px;
}
.product__title {
  @include f500;
  font-size: 24px;
  margin-bottom: 20px;
}
.product__author {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  a {
    display: flex;
    align-items: center;
    .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    span {
    margin-left: 10px;
    margin-right: 17px;
    
    }
  }
  .product-cathegory {
    padding-left: 25px;
    position: relative;
    &::before {
      content: '';
      background-image: url(../images/icons/wordpress-icon.png);
      width: 15px;
      height: 15px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 1px;
      left: 0;
    }
    
  }
  .cathegory-psd {
    &::before {
      content: '';
      background-image: url(../images/icons/psd-icon.png);
      width: 14px;
      height: 19px;
    }
  }
    .cathegory-html {
      &::before {
        content: '';
        background-image: url(../images/icons/html-icon.png);
        height: 17px;
      }
    }
  
}
.product__describtion {
  margin-bottom: 40px;
  color: $text;
}
.product__tags {
  padding-bottom: 45px;
  border-bottom: 1px solid #ececec;
  a + a {
    margin-left: 7px;
  }
}
.tags {
  background-color: #f1f3f6;
  border-radius: 14px;
  padding: 7px 16px;
  color: #868c96;
  }
.product__info {
  padding-top: 23px;
  display: flex;
  align-items: center;
  
}
.price-cathegory {
  background-color: $blue;
  padding: 6px 19px;
  color: #fff;
  border-radius: 16px;
  @include f500;
  font-size: 15px;
  margin-right: 20px;
}
.product__item-list {
  a {
    padding-right: 20px;
    color: #7c53c5;
    span {
      padding-left: 10px;
      color: $text;
    }
    &:hover {
      color: $blue;
      span {
        color: $blue;
      }
    }
  }
} 
.product__item-star {
  margin-left: auto;
  margin-right: 0px;
}
.rate-star {
  stroke: #ffc000;
  stroke-width:20;
}
.star--off {
  display: none;
}
.lnr-chevron-left,
.lnr-chevron-right {
  color: #fff;
  font-size: 14px;
}
.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  position: absolute;
  top: -124px;
  border: none;
  background-color: $violet;
  padding: 15px 0px 15px 25px;
}
.slick-arrow.slick-prev {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  right: 86px;
  padding-right: 17px;
}
.slick-arrow.slick-next {
  right: 0px;
  padding-right: 25px;
  padding-left: 17px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  margin-right: 30px;
}
//end product-slider section
//start release__products section
.release__products {
  background-color: #f6f7fb;
  padding: 118px 0px;
  &-top {
    position: relative;
  }
  &-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .followers__item {
    margin-bottom: 30px;
  }
  }
}
.products__filter-list {
  display: none;
  position: absolute;
  right: -15px;
  top: 50px;
  z-index: 1;
  width: 184px;
  padding: 8px 30px 8px 8px;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba( 82, 85, 90,0.2 );
  border-radius: 3px;
  border: 20px solid transparent; 
  border-top: 20px solid #fff; 
  &::before {
    content: ''; 
    position: absolute; 
    right: -4px; 
    top: -46px; 
    border: 10px solid transparent; 
    border-bottom: 17px solid #fff; 
  }
  li + li {
    margin-top: 12px;
  }
  button {
    display: block;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #747b86;
    &:hover {
      color: $blue;
    }
  }
}
.products__filter-btn {
  position: absolute;
  top: 46px;
  right: 30px;
  color: #747b86;
  padding-bottom: 46px;
  padding-right: 30px;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/icons/filter-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 5px;
    height: 20px;
    top: 0;
    right: 7px;
  }
  &:hover {
    transition: all .3s;
    .products__filter-list {
      display: block;
    }
  }
}
.products__btn-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba( 90, 93, 100,0.1 );
  margin-bottom: 50px;
  .btn-active {
    background-color: $blue;
    color: #fff;
  }
  button {
    background-color: #f1f3f6;
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
    color: #747b86;
    cursor: pointer;
    & + button {
      margin-left: 10px;
    }
  }
}
.release__products-btn {
  margin-top: 30px;
}
//end release__products section
//start followers-slider section
.followers__slider-items {
  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    background-color: $blue;
  }
}
.followers__feed {
  padding: 120px 0px;
  background-color: $grey;
}
.product-card {
  min-height: 530px;
  .product__item {
    box-shadow: 0px 2px 4px 0px rgba( 108, 111, 115, 0.2 );
    border-radius: 4px;
    flex-direction: column;
    max-width: 360px;
    &-img {
      height: 230px;
      a {
        width: 360px;
        height: 230px;
      }
    }
    &-text {
      padding: 30px 0px 16px;
    }
  }
  .product__img-hover {
    width: 360px;
    height: 230px;
    padding: 92px 38px;
    .button-1 {
      margin-right: 5px;
    }
  }
  .product__title {
    font-size: 20px;
    padding: 0px 30px;
  }
  .product__author {
    font-size: 15px;
    margin-bottom: 30px;
    padding: 0px 30px;
  }
  .product__describtion {
    margin-bottom: 34px;
    padding: 0px 30px;
  }
  .product__info {
    padding: 14px 30px 0px;
    border-top: 1px solid $grey;
    .lnr-heart {
      color: #7f4ec2;
      font-size: 15px;
      span {
        color: #6f7d8d;
        margin-left: 7px;
        font-size: 15px;
        font-family: 'Quicksand-Regular', sans-serif;
      }
    }
    .lnr-cart {
      color: $blue;
      font-size: 15px;
      margin-left: auto;
      margin-right: 1px;
      span {
        margin-left: 10px;
        font-family: 'Quicksand-Regular', sans-serif;
      }
    }
  }
  .price-cathegory {
    background-color: #e6f1fd;
    padding: 5px 19px;
    margin-right: 14px;
    color: $blue;
  }
  .product__item-star {
    margin-right: auto;
    margin-left: 15px;
  }
}
.followers__slider-items {
  .followers__item {
    padding: 0px 10px;
  }
}
//end product-slider section
//start icons-info section
.icons__info {
  background-color: #212225;
  padding: 94px 0px 98px;
  margin-bottom: 116px;
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    a{
      display: block;
      font-size: 36px;
      text-align: center;
      span {
        font-size: 18px;
        color: #fff;
        display: block;
        padding-top: 16px;
      }
    }
    a.lnr {
      font-size: 48px;
      margin-bottom: 47px;
    }
  }
}
.item-briefcase {
  a {
    color: $i-orange;
  }
}
.item-download {
  a {
    color: $i-bue;
  }
  .icon-numbers {
    margin-top: 5px;
  }
}
.item-smile {
  a{
    color: $i-green;
  }
  
}
.item-users {
  a {
    color: $i-red;
  }
  .icon-numbers {
    margin-top: 5px;
  }
  
}
.lnr-cloud-download,
.lnr-users {
  margin-top: -5px;
}
//end icons-infosection
//start advantages section
.advantages {
  background-color: #fff;
  padding-bottom: 117px;
  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.title-text {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 28px;
  span {
    color: $blue;
  }
}
.title-bottom {
  color: $text;
  text-align: center;
  max-width: 675px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.advantages__item {
  max-width: 362px;
  padding: 18px 19px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba( 0, 0, 0, 0.1 );
  text-align: center;
  margin: 15px 0px;
  &-number {
    @include f300;
    font-size: 48px;
    line-height: 52px;
    color: #5c87f8;
    opacity: 20%;
    text-transform: uppercase;
    text-align: left;
  }
  &-icon {
    margin-bottom: 50px;
    font-size: 60px;
    margin-top: -5px;
  }
  &-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &-text {
    max-width: 292px;
    color: $text;
    margin: 0 auto;
    margin-bottom: 29px;
    span {
      display: block;
      max-width: 250px;
      margin: 0 auto;
    }
  }
}
.lnr-license {
  color: $blue;
}
.lnr-magic-wand {
  color: #7f4ec2;
}
.lnr-lock {
  color: $i-green;
}
.lnr-chart-bars {
  color: $i-orange;
}
.lnr-leaf {
  color: $i-bue;
}
.lnr-phone {
  color: $i-red;
}
//end advantages section
//start user-start section
.user-start {
  margin-bottom: 117px;
  &__inner {
    display: flex;
  }
  &__item {
    width: 960px;
    height: 560px;
    padding: 95px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
  }
  &__icon {
    display: block;
    margin: 0 auto;
    max-width: 120px;
    min-height: 100px;
    
  }
  &__icon-2 {
    max-width: 102px;
    min-height: 102px;
  }
  
  &__title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 47px;
    margin-bottom: 30px;
  }
  &__text {
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 583px;
  }
  &__btn {
    background-color: #fff;
    color: $blue;
    padding: 17px 28px;
    border-radius: 36px;
    box-shadow: 0px 4px 30px 0px rgba( 0, 0, 0,0.3 );
  }
  &__btn-2 {
    color: $violet;
  }
}
//end user-start section
//start feedback section
.feedback {
    padding-bottom: 120px;
}
.feedback__inner {
  display: flex;
  justify-content: space-between;
}
.feedback__item {
  max-width: 557px;
  padding: 49px 40px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba( 0, 0, 0,0.1 );
  border-left: 2px solid $blue;
}
.feedback__author {
  display: flex;
  justify-content: space-between;
  &-avatar {
    width: 79px;
    height: 79px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    transform: translateY(-17%);
  }
  &-name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 17px;
    margin-right: auto;
    span {
      font-size: 16px;
      color: $text;
      display: block;
    }
  }
}
.feedback__icon.lnr-bubble {
  font-size: 60px;
  color: #e8e8e8;
  margin-top: -13px;
}
.feeadback__text {
  color: $text;
  padding-right: 4px;
  line-height: 30px;
}
.feedback__btn-box {
  text-align: center;
}
.feedback__bottom-btn {
  margin: 60px auto 0px;
  text-align: center;
}
.blue-btn {
  background-color: $blue;
  color: #fff;
  padding: 19px 34px;
  box-shadow: 0px 4px 30px 0px rgba( 0, 0, 0,0.2 );
  border-radius: 34px;
}

//end feedback section
//start latest-news section
.latest-news {
  background-color: $grey;
  padding: 120px 0px;
  &__inner {
    display: flex;
    justify-content: space-between;
    .news__item.product-card {
      min-height: 100%;
    }
    .product__title {
      font-size: 22px;
      cursor: pointer;
    }
    .product__describtion {
      color: $text;
    }
    .product__info {
      padding: 0px 30px;
      padding-top: 9px;
      .lnr-bubble,
      .lnr-eye {
        color: #7e7e7e;
        font-size: 15px;
        padding-top: 13px;
        text-align: center;
        &::before {
          margin-right: 8px;
        }
      }
      .lnr-bubble {
        margin-left: 33px;
        margin-right: auto;
      }
    }
    .news__data.lnr-clock {
      color: $blue;
      font-size: 15px;
      border-right: 1px solid #ececec;
      padding: 13px 47px 0px 0px;
      span {
        margin-left: 8px;
        color: #999999;
      }
    }
  }
}
//end latest-news section
//start join-marketplace section
.join__marketplace {
  &-inner {
    display: flex;
    padding:0px;
    text-align: center;
  }
  &-icon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 151px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-box {
    padding: 58px 83px;
  }
}
a.join__marketplace-link-1, 
a.join__marketplace-link-2 {
  text-align: center;
  color: #000;
      font-size: 24px;
      line-height: 32px;
      span {
        color: $blue;
    }
}
.join__marketplace-link-1 {
  margin-right: 46px;
}
a.join__marketplace-link-2 {
  margin-left: 52px;
  span {
    color: $violet;
  }
  .join__marketplace-icon {
    width: 163px;
  }
}
.join__box-1 {
  border-right: 1px solid #e8eaf3;
}
.join__marketplace-bottom {
  text-align: center;
  background-image: linear-gradient( to left, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
  opacity: 0.902;
  padding: 106px 0px;
  color: #fff;
}
.join__marketplace-title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}
.join__marketplace-text {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 50px;
}
.join__marketplace-btn {
  background-color: #fff;
  padding: 19px 43px;
  color: $blue;
  box-shadow: 0px 4px 30px 0px rgba( 0, 0, 0,0.2 );
  border-radius: 27px;
}
//end join-marketplace section
//start footer
.footer {
  color: #ababab;
  font-size: 15px;
  line-height: 28px;
  a {
    color: #ababab;
  }
  &__col {
    display: flex;
    flex-direction: column;
    &-title {
      font-size: 18px;
      color: #fff;
      padding-top: 19px;
      margin-bottom: 34px;
    }
    &-text {
      padding-bottom: 35px;
    }
  }
}
.footer__top {
  background-color: #262b30;
  padding: 114px 0px 117px;
  a {
    padding-bottom: 3px;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
  }
}
.footer__bottom {
  background-color: #192027;
  padding: 30px 0px;
  text-align: center;
}
.footer__col {
  max-width: 370px;
}
.footer__col-1 {
  max-width: 274px;
  padding: 0px 10px 0px 0px;
  .footer__col-text {
    padding: 28px 0px;
  }
  
}
a.footer__col-icon {
  display: block;
  &::before {
    content: '';
    display: block;
    background-image: url(../images/icons/footer-icon.png);
    width: 170px;
    height: 42px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.footer__col-link{
  position: relative;
  span.adress {
    padding-left: 30px;
    display: block;
  }
  span.adress-town {
    padding-left: 19px;
  }
  span.lnr {
    margin-right: 12px;
  }
  .lnr-map-marker {
    &::before {
      position: absolute;
      top: 17px;
      left: 0;
    }
  }
}
.footer__form {
  position: relative;
  input {
    max-width: 100%;
    width: 363px;
    height: 47px;
    border-radius: 25px;
    padding: 10px 114px 10px 15px;
    color: #ababab;
    outline: none;
    border: none;
    ::placeholder {
      color: #ababab;
    }
  }
  &-btn {
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 32px;
    box-shadow: none;
    border: none;
    border-radius: 25px;
  }
}
.footer__social-icons {
  margin-top: 26px;
  a + a {
    margin-left: 14px;
  }
}
.icon-facebook,
.icon-twitter,
.icon-google,
.icon-pinterest,
.icon-linkedin,
.icon-dribbble {
  position: relative;
  width: 43px;
  height: 43px;
  background-color: #395799;
  border-radius: 50%;
  svg {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 15px;
    height: 15px;
  }
}
.icon-facebook {
  background-color: #395799;
  svg {
    width: 9px;
    height: 16px;
    left: 16px;
  }
}
.icon-twitter {
  background-color: #19b2f5;
  svg {
    height: 13px;
    top: 14px;
  }
}
.icon-google {
  background-color: #f05b44;
}
.icon-pinterest {
  background-color: #9c0c1c;
}
.icon-linkedin {
  background-color: #0da6be;
}
.icon-dribbble {
  background-color: #ea4c89;
}
a.footer__bottom-link {
  color: #fff;
}
//end footer
//start 404-page
.breadcrumbs {
  background-image: linear-gradient(to left, rgb(13,62,242) 0%, rgb(45,47,199) 46%, rgb(76,31,156) 100%);
  opacity: 0.902;
  min-height: 176px;
}
.page-404 {
  text-align: center;
  padding: 80px 0px 98px;
  &__title {
    font-size: 30px;
    margin-bottom: 38px;
    @include f400;
  }
  &__link {
    box-shadow: none;
    padding: 15px 46px;
    font-size: 15px;
    @include f500;
  }
}
.page-404__img {
  background-image: url(../images/content/404.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 447px;
  width: 393px;
  margin-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
}
.page__name {
  font-size: 30px;
  @include f500;
}
//end 404-page
//start terms page
.terms {
  padding: 60px 0px 120px;
  background-color: $grey;
  &__inner {
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba( 108, 111, 115, 0.2);
    padding: 30px 0px;
  }
  &__item {
    margin-bottom: 60px;
  }
  &__title {
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8ebf0;
    @include f400;
    font-size: 24px;
  }
  &__text {
    @include f400;
    font-size: 16px;
    color: $text;
    padding:30px 40px 5px 30px;
  }
}
//end terms page
//start join page
.create, 
.start {
  background-color: #fff;
}
.join-page__inner {
  padding: 95px 0px;
  display: flex;
  justify-content: space-between;
}
.join-page__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 458px;
  height: 352px;
}
.join-page__item {
  flex-direction: column;
  max-width: 480px;
}
.join-page__title {
  padding: 35px 10px;
  @include f400; 
  font-size: 30px;
}
.join-page__text {
  @include f400;
  color: $text;
  margin-bottom: 30px;
  padding: 0px 10px;
}
.white-btn {
  background-color: #fff;
  color: $blue;
  @include f400;
  box-shadow: 0px 4px 30px 0px rgba( 0, 0, 0, 0.1);
  padding: 15px 37px;
  border-radius: 30px;
  &:hover {
    background-color: $blue;
    color: #fff;
    transition: all 0.4s;
  }
}
.upload {
  background-color: $grey;
}
.join-page__breadcrumbs {
  text-align: center;
  .breadcrumbs__inner {
    padding-bottom: 30px;
  }
  .page__name {
    @include f500; 
    font-size: 30px;
    line-height: 40px;
    padding: 22px 0px 69px;
    span {
      display: block;
      @include f300;
      margin-top: 5px;
    }
  }
}
//end join page
//start login page
.login {
  background-color: $grey;
  padding: 70px 0px 117px;
  &__inner {
    background-color: #fff;
    padding: 56px 0px;
    max-width: 555px;
    box-shadow: 0px 2px 4px 0px rgba( 108, 111, 115,0.2 );
    margin: 0 auto;
  }  
  &__title {
    border-bottom: 1px solid #e8ebf0;
    text-align: center;
    font-size: 26px;
    padding-bottom: 30px;
    @include f400;
    span {
      font-size: 16px;
      display: block;
      margin-top: 25px;
      color: $text;
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__item {
    padding: 29px 50px 0px;
    form {
      max-width: 455px;
      label {
        @include f500;
        display: block;
        margin-bottom: 15px;
      }
      input {
        width: 100%;
        border: none;
        padding: 15px 20px;
        background-color: $grey;
        margin-bottom: 15px;
        @include f400;
        color: #898f96;
        &::placeholder {
          @include f400;
          color: #898f96;
        }
      }
      button {
        margin: 28px 0px 35px;
        border: none;
      }
    }
    .jq-checkbox {
      border-radius: 11px;
    }
    .jq-checkbox, .jq-radio {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
      border: none;
      background: $blue;
      box-shadow: none;
    }
    .jq-checkbox.checked .jq-checkbox__div {
      width: 9px;
      height: 6px;
      margin: 6px 0 0 5.5px;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    .bottom__link {
      color: #898f96;
      a {
        color: $blue;
      }
    }
  }
}
.login-btn {
  padding: 17px 57px;
  box-shadow: none;
}
//end login page
//start register and recover page
.register-btn {
  padding: 17px 47px;
  box-shadow: none;
}
.recover__text {
  @include f400;
  color: $text;
  padding: 4px 50px 30px;
  border-bottom: 1px solid #e8ebf0;
}
.recover-btn {
  padding: 17px 55px;
  box-shadow: none;
  margin-bottom: 4px !important;
}
//end register and recover page
//start pricing-plan page
.pricing-plan {
  background-color: $grey;
  padding: 115px 0px; 
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.pricing-plan__title,
.pricing-plan__text {
  text-align: center;
}
.pricing-plan__title {
  font-size: 36px;
  @include f400;
  margin-bottom: 30px;
  span {
    color: $blue;
  }
}
.pricing-plan__text {
  max-width: 690px;
  color: $text;
  margin: 0 auto;
  margin-bottom: 55px;
}
.pricing__item {
  background-color: #fff;
  padding: 30px;
  border-top: 3px solid $red;
  max-width: 362px;
  box-shadow: 0px 2px 4px 0px rgba( 108, 111, 115, 0.2 );
  &-title {
    font-size: 24px;
    @include f500;
    padding-bottom: 28px;
    border-bottom: 1px solid $grey;
    text-align: center;
  }
}
.pricing__price {
  margin-top: 25px;
  margin-bottom: 45px;
  text-align: center;
  @include f400;
  font-size: 36px; 
  padding-left: 15px;
  .price-value {
    position: relative;
    &:before {
    content: '$';
    position: absolute;
    font-size: 18px;
    bottom: 16px;
    left: -10px;
    }
  }
  .price-period {
    color: $text;
    @include f400;
    font-size: 16px;
    margin-left: -9px;
  }
}
.pricing__features {
  @include f500; 
  margin-bottom: 38px;
  li {
    padding-left: 23px;
    position: relative;
      margin-bottom: 20px;
    &:before {
      content: '';
      background-color: #c5cad4;
      width: 7px;
      height: 7px;
      border-radius: 3px;
      position: absolute;
      left: 0;
      bottom: 33%;
    }
    span {
      color: $text;
      @include f400;
    }
    a {
      width: 18px;
      height: 18px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 12px;
      margin-bottom: -5px;
    }
  }
}
[data-tooltip] {
  position: relative; 
}
[data-tooltip]::after {
  content: attr(data-tooltip); 
  position: absolute;
  width: 210px;
  left: 5px;
  font-size: 15px;
  color: $text;
  top: 27px;
  background: $grey;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: none; /*hint*/
  opacity: 0; /*hint invisible*/
  transition: 1s; 
  z-index: 2;
}
[data-tooltip]:hover::after {
  opacity: 1; /*hint visible*/
  top: 27px;
}
a.pricing__link {
  background-color: $red;
  padding: 18px 80px;
  border-radius: 4px;    
  @include f500;
  font-size: 18px;
  color: #fff;
}
.pricing__item-business {
  border-top: 3px solid $blue;
  a.pricing__link {
    background-color: $blue;
  }
}
.pricing__item-agency {
  border-top: 3px solid $i-orange;
  a.pricing__link {
    background-color: $i-orange;
  }
}
//end pricing-plan page

