@import '_global';
@import '_vars';
@import '_fonts';
//stert header
.header__top {
  background-color: #eef1f3;
  height: 100px;
  padding: 25px 0px;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-box {
    display: flex;
    
  }
}
.box__btn {
  background-color: $blue;
  margin-right: 217px; 
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  border-radius: 36px;
  padding: 10px 18px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  display: block;

}
.customer {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  font-size: 14px;
  line-height: 26px;
  &__name {
    color: #333333;
  }
  &__money {
    color: $blue;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header__bottom-inner {
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  li {
    display: inline-block;
    a{
      color: #333333;
      text-transform: uppercase;
    }
    & + li {
      margin-left: 35px;
    }
  }
}
.header__bottom-search {
  form {
    position: relative;
    input {
      display: block;
      width: 360px;
      padding: 15px 85px 17px 15px;
      border: 1px solid #d9dfe5;
      border-radius: 25px;
      max-width: 360px;
      color: #898f96;
      font-weight: 500;
      outline: $blue;
      ::placeholder {
        color: #898f96;
        font-weight: 500;
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $blue;
      border: none;
      padding: 16px 29px;
      border-radius: 25px;
    }
  }
}
//end header
